<%= hidden_field_tag 'model_name', 'users' %>
<div class="container">
  <div class="box">

  <div class="col-lg-12">
      <hr>
      <h2 class="intro-text text-center">
          <strong><%=t 'users.title'%></strong>
      </h2>
      <hr>
  </div>
<div class="filter-container" style="display:none">
   <label><%=t 'users.show'%>: 
   <%=select_tag("users-filter", options_for_select([[t("users.filters.all_users"), "all"]] + User.statuses.keys.collect {|status| [t("users.filters.#{status}"),status]}), html_options = {style:"display:none", class:"filter"})%> <%=t 'users.filter_users'%>.
  </label>
</div>

<div class="table-responsive" style="position: relative; overflow: visible;">
<table class="admin-table table display responsive no-wrap" data-source="<%= users_path(format: :json) %>" style="display:none">
      <thead>
        <tr>
          <th><%=t 'users.name_header'%><div class="img-sorting"></div></th>
          <th><%=t 'users.role_header'%><div class="img-sorting"></div></th>
          <th><%=t 'users.status_header'%><div class="img-sorting"></div></th>
          <th><%=t 'users.created_at_header'%><div class="img-sorting"></div></th>
          <th><%=t 'users.actions_header', :default => t("helpers.actions") %><div class="img-sorting"></div></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div id="table-loading" style="display: none">
        <div id="loading-background" class="loading-overlay"><%= image_tag "table-loader.gif", :class => "loader spin center" %></div>
    </div>
  </div>
  </div>
</div>
<% content_for :extra_js do %>
   <script>
   
  $(document).ready(function() { 
    var tableOptions = createTableOptions(); 
    tableOptions.sDom = "<'admin-page-header clear'<'manage_user-id left'><'right'f>r>t<'row table-footer'<'col-md-4'l><'col-md-4' <'text-center'i>><'col-md-4'p>>",
    
    tableOptions.bStateSave = true;
    //Send filter as param to server
    tableOptions.oLanguage =

    {
        sProcessing:   "Procesiranje u toku...",
        sLengthMenu:   "Prikaži _MENU_ elemenata",
        sZeroRecords:  "Nije pronađen nijedan rezultat",
        sInfo:         "Prikaz _START_ do _END_ od ukupno _TOTAL_ elemenata",
        sInfoEmpty:    "Prikaz 0 do 0 od ukupno 0 elemenata",
        sInfoFiltered: "(filtrirano od ukupno _MAX_ elemenata)",
        sInfoPostFix:  "",
        sSearchPlaceholder:"Pretraga:",
        sSearch:       "Pretraga:",
        sUrl:          "",
        oPaginate: {
            sFirst:    "Početna",
            sPrevious: "Prethodna",
            sNext:     "Sledeća",
            sLast:     "Poslednja"
        }
    }
    tableOptions.fnServerParams = function (aoData) {
      oControls = $('.filter-container').find('.filter');
      oControls.each(function() {
        if ( $(this).attr('id') ){
            var filter_text = $(this).val().replace('"', '"').trim();
            aoData[$(this).attr('id')] =  filter_text.indexOf("all") == 0 ? "" : $(this).val().replace('"', '"').trim();
        }
      });
    };
    tableOptions.fnStateSaveParams = function ( oSettings, sValue ) {
      oControls = $('.filter-container').find('.filter');
      oControls.each(function() {
          if ($(this).attr('id')){
            sValue[ $(this).attr('id') ] = $(this).val().replace('"', '"').trim();
            
          }
      });
      return sValue;
    };
    //Restore applied custom filter values when page reloads
    tableOptions.fnStateLoadParams = function ( oSettings, oData ) {
      oControls = $('.filter-container').find('.filter');
      //Load custom filters
      oControls.each(function() {
        var oControl = $(this);
        //    alert(oControl.get(0).tagName);
        $.each(oData, function(index, value) {
          if ( index == oControl.attr('id')){
              oControl.val( value );
          }
        });
      });
      return true;
    }


    var filter_container = $('.filter-container');
    createDataTable(tableOptions);
    $('.manage_user-id').append(filter_container);
    filter_container.show();
  
    $('.table').on( 'draw.dt', function () {
        $("[rel=tooltip]").tooltip({ placement: 'top'});
          $('select.checkbox').multiselect({buttonWidth:200, numberDisplayed: 2, multiple: true, onChange: function(element, checked) {
            var form = $(element).closest("form");
            update_user(form);
          }, nonSelectedText: 'Nije izabran nijedan',
            nSelectedText: 'izabrana',
            allSelectedText: 'Svi treninzi'
        });
        $('select#users-filter').multiselect({ onChange: function(element, checked) {
          $('.admin-table').DataTable().draw();
            // $('.table').DataTable().columns(2).search($(element).val().toLowerCase()).draw();
          }
        });
        $('select.breathe').multiselect();
        $('select.role').multiselect( { buttonWidth:80, onChange: function(element, checked) {
            var form = $(element).closest("form"); 
           update_user(form);
          }
        });
      });

   });
 


    function update_user(form){
       $(form).find(".loading").show();
      jQuery.ajax({
        type: "POST",
        dataType: 'json',
        data: $(form).serialize(),
        url:  $(form).attr('action'),
        success: function(data) {
          $(form).find(".loading").hide();
          $(form).find(".check").show();
        }.bind(this),
        error: function(error) {
            alert(error);
        }.bind(this),
        timeout: 30000
      });
    }

</script>

<%end%>



