<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(category) -%>">
  <span class='title'>
    <%= category.title.presence || category.translations.detect {|t| t.title.present?}.title %>
    <span class="preview">
      <% category.translations.each do |translation| %>
        <% if translation.title.present? %>
          <%= link_to refinery.edit_blog_admin_category_path(category, :switch_locale => translation.locale),
              :class => 'locale' do %>
            <div class="locale_icon <%= translation.locale %>">
              <%= action_icon('locale-blue.svg', :size => '24x24') %>
              <span class="code"><%= translation.locale.upcase %></span>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </span>
  </span>
  <span class='actions'>
    <%= link_to action_icon("application_edit.png"),
                refinery.edit_blog_admin_category_path(category),
                :title => t('.edit') %>
    <%= link_to action_icon("delete.png"), refinery.blog_admin_category_path(category),
                :class => "cancel confirm-delete",
                :title => t('.delete'),
                :method => :delete,
                :data => {
                  :confirm => t('message', :scope => 'refinery.admin.delete', :title => category.title)
                } %>
  </span>
</li>
