<p>Dragi/draga <%= @user.name %>,</p>

<p>Bili smo vredni i rešili da promenimo aplikaciju za rezervisanje treninga putem koje si do sada mogao/la da rezervišeš termin svog treninga. </p>

<p>Nova aplikacija je dostupna na sledećem linku:
<a href="www.factorynis.com">www.factorynis.com</a>
</p>

<p>Ne brini, nećeš morati da kreiraš nov nalog. ;)  <br>
<p>Za logovanje putem nove aplikacije koristi sledeće podatke:<br>
<ul>
  <li>email: <%= @user.email %></li>
  <li>lozinka: <% "#{@user.name}fabrika" %></li>
<ul>


<p>Ako bude došlo do nekih problema sa logovanjem, molimo te da nas kontaktiraš na <a href="mailto:<%= @email %>"><%= @email %></a>
<p>Veliki pozdrav, <br>
Factory Niš <br>
Email: <a href="mailto:<%= @email %>"><%= @email %></a><br>
Facebook: https://www.facebook.com/CfFabrika/<br>
Instagram: @fabrika_018<br>
</p>