<% if user_signed_in? %>
  <li>
    <%= link_to t('schedule'), main_app.schedule_path %>
  </li>
  <li><%= link_to t('edit_account'), main_app.edit_user_registration_path %></li>
  <li><%= link_to t('sign_out'), main_app.destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to t('sign_in_up'), main_app.new_user_session_path %></li>
<% end %>
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <li><%= link_to t('users.title'), main_app.users_path %></li>
     <li><%= link_to t('cms'), refinery.admin_root_path %></li>
  <% end %>
<% end %>
